<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<style>
        body {
          background-image: url('static/Books-1.webp');
           background-repeat: no-repeat;
           background-attachment: fixed;
          background-size: cover;
        }
    </style>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Content</title>

</head>
<body>
    {% include 'sidebar.html' %}
    <br>
    <div class="container grey lighten-2">
        <br>
        <h1>Add New Book Details</h1>
        <form method="POST">
            <div class="row">
            {% for column in columns %}
            {% if column != 'index' %}
                <div class="col s6">
            <label for="{{ column }}">{{ column }}:</label>
            <input type="text" id="{{ column }}" name="{{ column }}" required><br>
                    </div>
            {% endif %}
            {% endfor %}
            <button class="btn waves-effect waves-light" type="submit" >
                Add
                <i class="material-icons left">add</i>
            </button>
                </div>
        </form>
        <br>
    </div>
 <script type="text/javascript" src="static//static/js/materialize.min.js"></script>
{% include 'footer.html' %}
</body>
</html>
